<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Yearly Hall of Fame - Movies</title>
</head>
<body>
<div th:replace="~{navbar.html :: navbar}"></div>

<div class="container">
    <h2>Movies by Year</h2>
    <div id="yearNavigation">
        <h3>View Top 10 Movies by Year</h3>
        <div id="yearList"></div>
    </div>

    <h2>Add a New Movie</h2>
    <form id="movieForm">
        <input type="text" id="title" placeholder="Title" required>
        <input type="text" id="director" placeholder="Director" required>
        <input type="number" id="releaseYear" placeholder="Release Year" required>
        <input type="text" id="releaseDate" placeholder="Release Date (dd/mm/yyyy)" required>
        <input type="number" step="0.1" id="personalScore" placeholder="Personal Score (0-10)" required>
        <textarea id="personalThoughts" placeholder="Personal Thoughts"></textarea><br>
        <button type="button" onclick="addMovie()">Add Movie</button>
    </form>
</div>

<script src="/scripts/movies.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        getYears();
    });
</script>
</body>
</html>
