<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <title>Yearly Hall of Fame - Year View</title>
</head>
<body>
<div th:replace="~{navbar.html :: navbar}"></div>


<div class="container">
  <h1>Top 10 Entries of <span id="yearTitle"></span></h1>
  <div id="topListContainer"></div>

  <button class="button" onclick="loadExtendedList()">View Full List</button>

  <div id="extendedList" style="display: none;">
    <h2>Extended List</h2>
    <div id="fullList"></div>
  </div>
</div>

<script src="/scripts/year.js"></script>
</body>
</html>
